body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

.background-section {
  color:white;
  background-color: rgba(0, 0, 0, 0.877);
  position:absolute;
  width: 100%;
  height:  100vh;
  margin: 0;
  overflow: auto; /* this seems to have worked to take up full page */
  -webkit-overflow-scrolling: auto;
}


.main-section {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.big-box {
  display: flex;
  /* background-color: rgb(94, 94, 94); */
  background: #333333;
  width: 620px;
  height: 475px;
  border-radius: 20px;
  margin-top: 140px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#cover {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 35%);
  margin-top: -40px;
}

#band {
  margin-top: 15px;
  font-size: 33px;
  font-weight: bold;
}

.page-box {
  margin-top: 12px;
}

#description {
  margin-left: 50px;
  margin-right: 50px;
}

#city {
  color:rgba(228, 223, 223, 0.658)
}

#f-link {
  margin-top: 9px;
  width: 40px;
}

#f-link:hover {
  opacity: .6;
}


.music-box {
  margin-top: 18px;
  display: flex;
  flex-direction: row;
  width: 620px;
  height: 70px;
  background-color: #333333;
  border-radius: 20px;
  /* text-align: center; */
  vertical-align: center;
  text-decoration: none; /* this is removing underline */
}

.music-box:hover {
  background-color: grey;
  transition: .3s;
}

.music-logo {
  margin: 0;
}

#logo1 {
  height: 70px;
  width: 70px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.music-link {
  display: flex;
  height: 100%;
  width: 78%;
  align-items: center;
  padding-left: 30px;
  color:  white;
}

.arrow {
  display: flex;
  height: 100%;
  width: 11%;
  align-items: center;
  justify-content: center;
}

#play-music {
  margin-top: 20px;
  width: 620px;
}

/* mobile */

/* @media (max-width: 900px) {
  .background-section {
    background-color: red;
  }
} */

@media (max-width: 700px) {
  .big-box {
    width: 80%;
    height: 550px;
  }

  .music-box {
    width: 80%;
  }

  #play-music {
    width: 80%;
  }
}

/* width: 620px; */
/* big-box */
/* music-box */