body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

.background-section {
  /* display: flex; */
  color:white;
  background-color: rgba(0, 0, 0, 0.877);
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin: auto;
  /* align-items: center; */
  /* opacity: .3; */
}

.main-section {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.big-box {
  display: flex;
  /* background-color: rgb(94, 94, 94); */
  background: #333333;
  width: 620px;
  height: 475px;
  border-radius: 20px;
  margin-top: 140px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#cover {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 35%);
  margin-top: -40px;
}

#band {
  margin-top: 15px;
  font-size: 33px;
  font-weight: bold;
}

.page-box {
  margin-top: 12px;
}

#description {
  margin-left: 50px;
  margin-right: 50px;
}

#city {
  color:rgba(228, 223, 223, 0.658)
}

#link {
  /* margin-top: 35px; */
}

.music-box {
  margin-top: 18px;
  display: flex;
  flex-direction: row;
  width: 620px;
  height: 70px;
  background-color: #333333;
  border-radius: 20px;
  text-align: center;
}

.music-logo {
  margin: 0;
}

#logo1 {
  height: 70px;
  width: 70px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* .music-div {
  width: 100%;
  text-align: center; 
}*/